:root.theme-dark {
  --title-color: #db00ff;
  --article-title-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --section-title-color: #ff0070;
  --bg-color: #000028;
  --page-bg-image: url("../images/cover-image-dark.png");
  --theme-menu-button-border: #ff0070;
  --theme-menu-button-hover: rgba(255, 0, 112, 0.4);
  --button-text-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --title-color: #db00ff;
    --article-title-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --section-title-color: #ff0070;
    --bg-color: #000028;
    --page-bg-image: url("../images/cover-image-dark.png");
    --theme-menu-button-border: #ff0070;
    --theme-menu-button-hover: rgba(255, 0, 112, 0.4);
    --button-text-color: #ff0070;

    --rec-display: flex;
  }
}
